/*
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
.proj-manag-constraint-title {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 5px;
  font-weight: bold;
}
.proj-manag-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: .5em;
}

.proj-manag-container,.proj-manag-container>.proj-manag-constraint-value {
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
  min-height: 1em;
}

.proj-manag-add-constraint {
  display: inline-block;
  margin-top: 3px;
  font-style: italic;
}

.proj-manag-date-picker {
  z-index: 99999;
}

.proj-manag-delete-filter {
  display: inline-block;
  margin-left: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  color: currentColor;
}