## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#**
 * Generate the html structure for a filter builder.
 *
 * @param $parameters a map of parameters that can be used by the builder. The 'client' property will be used to
 *   retrieve the filterable livedata properties.
 *#
#macro (filterBuilder $parameters)
#picker_import
#set ($discard = $xwiki.jsfx.use('uicomponents/suggest/xwiki.selectize.js', true))
#set ($discard = $xwiki.ssrx.use('css/projectmanagement/filterBuilder.css'))
#set ($clientId = "$!parameters.client")
#if ($clientId == '')
  #set ($clientId = $macroId)
#end
#set ($clientCfg = $services.projectmanagementlivedata.getLivedataConfiguration($clientId))
#if ("$!clientCfg" != '')
  #set ($propertiesJson = $clientCfg.meta.propertyDescriptors)
  #set ($filterableProperties = [])
  #foreach ($prop in $propertiesJson)
    #if ($prop.filter && $prop.filter.id)
      #set ($discard = $filterableProperties.add($prop))
    #end
  #end
  #if ($filterableProperties.isEmpty())
    <div class="box warningmessage">$!escapetool.xml($services.localization.render("projectmanagement.macro.filter.noFilters"))</div>
  #else
    <div class="proj-manag-constraint-builder" data-cfg="$escapetool.xml($jsontool.serialize($filterableProperties))">
      <div>
        <select id="proj-manag-add-constraint" class="btn btn-default">
          <option disabled selected value="">$!escapetool.xml($services.localization.render('projectmanagement.macro.filter.addFilter'))</option>
          #foreach ($prop in $filterableProperties)
            <option value="$prop.id">$prop.id</option>
          #end
        </select>
      </div>
      <div class="proj-manag-constraints">
      </div>
      <div id="proj-manag-constraint-template" class="hidden">
        <div class="proj-manag-container">
          <span class="proj-manag-constraint-title">Some title</span>
          <input type="text" class="proj-manag-constraint-name hidden"/>
        </div>
        <div class="proj-manag-filter-container">
          <div class="proj-manag-constraint-operator-container">
            <select class="proj-manag-constraint-operator">
            </select>
          </div>
          <div class="proj-manag-container proj-manag-constraint-value-container">
            <input class="proj-manag-constraint-value" type="text"/>
          </div>
          <div class="proj-manag-constraint-remove-container">
            <a href="#" title="$escapetool.xml($services.localization.render('projectmanagement.macro.filter.remove'))"
              class="proj-manag-delete-filter"><span class="fa fa-trash"></span></a>
          </div>
        </div>
        <a class="proj-manag-add-constraint" href="#">$!escapetool.xml($services.localization.render('projectmanagement.macro.filter.addConstraint'))</a>
      </div>
    </div>
  #end
#else
  <div class="box warningmessage">$!escapetool.xml($services.localization.render("projectmanagement.macro.filter.noFilters"))</div>
#end
#end
